body {
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color:lightgoldenrodyellow; 
  padding: 50px;
  
}

.card {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px black;  
  border-radius: 35px;
  background-color:blanchedalmond;
  box-sizing: border-box;
  padding: 15px;
}

img {
  width:  99%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#content {
  display:flex;
  padding-bottom: 10px;
}

header {
  display:flex;
 text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
}

h2 {
  display:flex;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main , aside , #faktaruta {
  border: 2px solid black;
  margin: 5px;
  background-color:linen;
  box-sizing: border-box;
  padding: 5px;
  
}

.main-content {
  font-size:  23px;
}

aside {
  padding: 10px;
}

#faktaruta {
  font-size: 23px;
}

footer {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  box-sizing: border-box;
  padding: 5px;
}